.principal{
  background-color: white;
  color: rgb(197, 128, 1);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.rodape{
  position: absolute;
  bottom: 0;
}
