html,
body {
  padding: 0;
  margin: 0;
  background: linear-gradient(to right, #75a4f7, #013C8B);
  font-family: 'Anton', sans-serif;
  font-family: Anton;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: white;
}
a {
  text-decoration: none;

}
p, h1, h2{
  color: white;
  font-family: 'Anton', sans-serif;
  font-family: Anton;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


