.container{
    color: black;
    background-color: white;
    padding: 40px;
    top: 0px;
    border-radius: 10px;
    font-size: 20px;
    margin: 0 auto;
    width: 100%;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 60px;;
}
.pergunta{
    color: rgba(1, 60, 139, 0.96);
    font-size: 70px;
    text-align: center;
}

.p{
    color: black;
}
.botao{
    border-radius: 50px;
    background: #619ae4;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-style: none;
    font-size: 25px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
    }
    .botao:hover{
        background: #bfdbff;
    }
